<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.treegrowth.provider.dao.mapper.DreamMapper">

    <resultMap id="dream" type="top.treegrowth.model.entity.Dream">
        <id property="id" column="C_ID" jdbcType="CHAR"/>
        <result property="name" column="C_NAME" jdbcType="VARCHAR"/>
        <result property="content" column="C_CONTENT" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="addDream" parameterType="top.treegrowth.model.entity.Dream">
        insert into schema_dream.t_dream
        (C_ID,
        C_NAME,
        C_CONTENT)
        values
        (#{id, jdbcType=CHAR},
        #{name, jdbcType=VARCHAR},
        #{content, jdbcType=VARCHAR})
    </insert>

    <!--<delete id="deleteBy">-->
		<!--delete from schema_dream.t_dream-->
		<!--where C_ID = #{id}-->
	<!--</delete>-->

    <!--<update id="update" parameterType="top.treegrowth.model.entity.Dream">-->
		<!--update schema_dream.t_dream-->
		<!--set-->
            <!--C_ID = #{id, jdbcType=CHAR},-->
            <!--C_NAME = #{name, jdbcType=VARCHAR},-->
            <!--C_CONTENT = #{content, jdbcType=VARCHAR}-->
        <!--where C_ID = #{id}-->
	<!--</update>-->

    <select id="getDreamBy" parameterType="java.lang.String" resultMap="dream">
        select C_ID, C_NAME, C_CONTENT
        from schema_dream.t_dream
        where C_ID = #{id}
    </select>
</mapper>
