<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.treegrowth.provider.dao.mapper.DiaryMapper">

    <resultMap id="page" type="top.treegrowth.model.entity.Page">
        <id property="id" column="C_ID" jdbcType="CHAR"/>
        <result property="diaryId" column="C_DIARY_ID" jdbcType="CHAR"/>
        <result property="name" column="C_NAME" jdbcType="VARCHAR"/>
        <result property="createTime" column="D_CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="mind" column="C_MIND" jdbcType="VARCHAR"/>
        <result property="content" column="C_CONTENT" jdbcType="VARCHAR"/>
        <result property="weather" column="C_WEATHER" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="tableName">
        db_blog.t_page
    </sql>

    <insert id="createPage" parameterType="top.treegrowth.model.entity.Page">
        INSERT INTO
        <include refid="tableName"/>
        (C_ID,
        C_DIARY_ID,
        C_NAME,
        D_CREATE_TIME,
        C_MIND,)
        C_CONTENT,)
        C_WEATHER)
        VALUES
        (#{id, jdbcType=CHAR},
        #{diaryId, jdbcType=CHAR},
        #{name, jdbcType=VARCHAR},
        #{createTime, jdbcType=TIMESTAMP},
        #{mind, jdbcType=VARCHAR},
        #{content, jdbcType=VARCHAR},
        #{weather, jdbcType=VARCHAR})
    </insert>

    <delete id="deleteBy">
        delete from
        <include refid="tableName"/>
        where C_ID = #{id}
    </delete>

    <update id="updateBy" parameterType="top.treegrowth.model.entity.Dream">
        update
        <include refid="tableName"/>
        set
        C_ID = #{id, jdbcType=CHAR},
        C_CREATE_USER_ID = #{createUserId, jdbcType=CHAR},
        C_NAME = #{name, jdbcType=VARCHAR},
        C_CONTENT = #{content, jdbcType=VARCHAR}
        D_CREATE_TIME = #{createTime, jdbcType=TIMESTAMP}
        C_DESCRIPTION = #{description, jdbcType=VARCHAR}
        where C_ID = #{id}
    </update>

    <select id="getPageBy" parameterType="java.lang.String" resultMap="page">
        select C_ID, C_DIARY_ID, C_NAME, D_CREATE_TIME, C_MIND, C_CONTENT, C_WEATHER
        from
        <include refid="tableName"/>
        where C_ID = #{pageId}
    </select>
</mapper>
