<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.treegrowth.provider.dao.mapper.AuthorityMapper">

    <resultMap id="authority" type="top.treegrowth.model.entity.Authority">
        <id property="id" column="C_ID" jdbcType="CHAR"/>
        <result property="name" column="C_NAME" jdbcType="VARCHAR"/>
        <result property="action" column="C_ACTION" jdbcType="VARCHAR"/>
        <result property="code" column="C_CODE" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="tableName">
        db_user.t_authority
    </sql>

    <select id="getAuthorityById" parameterType="java.lang.String" resultMap="authority">
        select C_ID, C_NAME, C_ACTION, C_CODE
        from
        <include refid="tableName"/>
        where C_ID = #{authorityId}
    </select>

</mapper>